@model List<Subir>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
<table class="table" style="background-color: #FFFFFF!important;">
    
    <tr>
        <th>Titulo</th>
        <th>Url</th>
       
    </tr>
    @if (Model.Count == 0) {
            <tr>
                <td colspan="4" class="text-center">No se encontraron registros.</td>
            </tr>
        }
        
    @foreach (var subir in Model)
    {
        <tr>
            <td>@subir.Titulo</td>
            <td>@subir.Url</td> 
        </tr>
    }
</table>
</div>